.carousel-control-prev, .carousel-control-next{
    width: 7%;
    opacity: 1;
    i{
        font-size: 50px;
    }
}
.carousel-indicators{
    li{
        width: 10px;
        height: 10px;
        border-radius: 50%    ;
        -webkit-border-radius: 50%    ;
        -moz-border-radius: 50%    ;
        -ms-border-radius: 50%    ;
        -o-border-radius: 50%    ;
}
}